.callout-container {
    height: 100vh;

    background: url('images/EU.jpg') no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;   
    justify-content: center; 

    position: relative;
}


.content-container { 
    padding-top: 65px;
    padding-bottom: 75px;
}

/* Navbar */


.navbar {
    margin-bottom: 0;
    width: 100%;
    border: 0;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-right li {
    display: inline-block;
}

.navbar-right i {
    font-size: 160%;
    margin: 1%;
    padding: 20px;
}

/* Jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron h1 {
    color: white;
    margin-bottom: 50px;
}

.jumbotron .lead {
    color: white;
    margin: 25px 0;
}

.jumbotron-header-contact,
.jumbotron-header-map {
    padding-top: 60px;
}

/* Footer */

footer { 
    height: 150px;
} 

.flag {
    text-align: center;
    border: 0;
    margin-top: 35px;
    padding-top: 10px;
    
}

.flag li {
    display: inline;
}

.flag img {
    width: 48px;
    height: 48px;
}

/* Address - card*/



.card-contact {
    border: none;
    padding-left: 20px;
}


.form {
    padding-top: 15px;
}

button[type="submit"] {
    margin-top: 0 auto;
    text-align: center;

}



.card-img-top {
    width: 20px;
    height: 20px;
    padding-left: 20px;
}




