@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

body {
    text-align: center;
}

/* Callout */

.callout-container {
    height: 100vh;

    background: url("../images/EU.jpg") no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;   
    justify-content: center; 

    position: relative;
}

.content-container { 
    padding-top: 65px;
    padding-bottom: 75px;
}

/* Navbar */
.navbar {
    width: 100%;
    border: 0;
}

.nav-item {
    text-align: left;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-right i {
    font-size: 160%;
    margin: 1%;
    padding: 20px;
}

/* Jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron h1 {
    color: white;
    margin-bottom: 50px;
}

.jumbotron .lead {
    color: white;
    margin: 25px 0;
}

.jumbotron-header-contact,
.jumbotron-header-map {
    padding-top: 60px;
}

/* Footer */

footer {
    padding-top: 75px;
} 

.bottom {
    height: 150px;
    padding-top: 0;
}

ul, li {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.flag {
    text-align: center;
    border: 0;
    margin-top: 35px;
    padding-top: 10px;  
}

.flag li {
    display: inline;
}

.flag img {
    width: 45px;
    height: 48px;
}

/* Map*/

div#map {
    min-height: 560px;
}

/* Address - card*/

.card-contact {
    border: none;
    padding-left: 20px;
}

.img-thumbnail {
    border: none !important; 
    width: 220px;
}

/* Email - form */

.form {
    padding-top: 15px;
}

#form {
    margin-top: 0;
    text-align: center;

}

/* Quiz*/

.game-quiz-container{
        background:  #001489;
        box-sizing: border-box;
        width: 85%;
        height: 65vh;
        max-height: 450px;
        max-width: 830px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        padding: 1%;
        align-items: center;
        display: flex;
        flex-direction: column;
        border-radius: 30px;
        color: white; 
        letter-spacing: 2px;
    }

.game-details-container{
    width: 80%;
    height: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #f5e617;
    font-weight: bold;
}

.game-details-container h1{
    font-size: 1.2rem;
}

.game-question-container{
    width: 60%;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
}

.game-question-container h1{
    font-size: 1.1rem;
    text-align: center;
    padding: 3px;
}

.game-options-container{
    width: 50%;
    height: 12rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.game-options-container span{
    width: 45%;
    height: 3rem;
    background-color:#f5e617;
    border-radius: 20px;
    overflow: hidden;
}
span label{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s;
    font-weight: 600;
    color:#5F6A6A;
    font-weight: bold;
}

span label:hover{
    -ms-transform: scale(1.12);
    -webkit-transform: scale(1.12);
    transform: scale(1.12);
    color:#fafafa;
}

input[type="radio"] {
    position: relative;
    display: none;
}


input[type=radio]:checked ~ .option {
	background: #FD9805;
}

.next-button-container{
    width: 50%;
    height: 3rem;
    display: flex;
    justify-content: center;
}
.next-button-container button{
    width: 8rem;
    height: 2rem;
    border-radius: 10px;
    background: none;
    color:gray;
    font-weight: 600;
    cursor: pointer;
    outline: none;
}
.next-button-container button:hover{
    background-color: #3498DB;
}

.modal-container{
    display: none;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0) ; 
    background-color:#171796 ; 
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    -webkit-animation: fadeIn 1.2s ease-in-out;
    animation: fadeIn 1.2s ease-in-out;
}


.modal-content-container{
    height: 28rem;
    width: 25rem;
    background-color:#fedf00;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 25px;
}

.modal-content-container h1{
    font-size: 1rem;
    height: 5rem;
    color: #212F3C;
    text-align: center;
}

.grade-details{
    width: 15rem;
    height: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.grade-details p{
    color: #212F3C;
    text-align: center;
}

.modal-button-container{
    height: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-button-container button{
    width: 10rem;
    height: 2rem;
    background: none;
    outline: none;
    border: 1px solid #212F3C;
    color:#212F3C;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 20px;
}
.modal-button-container button:hover{
    background-color: rgb(83, 82, 82);
}

@media(min-width : 300px) and (max-width : 350px){
    .game-quiz-container{
        width: 90%;
        height: 80vh;
     }
     .game-details-container h1{
        font-size: 0.8rem;
     }
 
     .game-question-container{
        height: 6rem;
     }
     .game-question-container h1{
       font-size: 0.9rem;
    }
 
    .game-options-container span{
        width: 90%;
        height: 2.5rem;
    }
    .game-options-container span label{
        font-size: 0.8rem;
    }
    .modal-content-container{
        width: 90%;
        height: 25rem;
    }
    
    .modal-content-container h1{
        font-size: 1.2rem;
    }
}

@media(min-width : 350px) and (max-width : 700px){
   .game-quiz-container{
       width: 90%;
       height: 80vh;
    }
    .game-details-container h1{
        font-size: 1rem;
    }

    .game-question-container{
        height: 8rem;
    }

    .game-question-container h1{
        font-size: 0.9rem;
     }

    .game-options-container span{
        width: 90%;
    }
    .modal-content-container{
        width: 90%;
        height: 25rem;
    }
    .modal-content-container h1{
        font-size: 1.2rem;
    }
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }

/* 404*/

   
.container {
    min-height: 100vh;
    background-image: linear-gradient(125deg, #6a89cc, #b8e994);
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #343434;
}

.container h1 {
    font-size: 160px;
    margin: 0;
    font-weight: 900;
    letter-spacing: 20px;
    font-family: Oswald sans-serif;
}

.container a {
    text-decoration: none;
    background: #a55039ee;
    color: #fff;
    padding: 12px 24px;
    display: inline-block;
    border-radius: 25px;
    font-size: 14px;
    text-transform: uppercase;
    transition: 0.4s;
}

.container a:hover {
    background: #a55039ee;
}